<div id="tasks_list" class="divide-y divide-gray-100">
  <% if tasks.any? %>
    <% tasks.each do |task| %>
      <div class="py-3">
        <%= render "tasks/task", task: task %>
      </div>
    <% end %>
  <% else %>
    <% if params[:status] == 'completed' %>
      <%= render "tasks/empty_state_completed" %>
    <% else %>
      <%= render "tasks/empty_state" %>
    <% end %>
  <% end %>
</div>
